body{
    background-color: #f1ebe1;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    background-color: white;
    /* width: 80%; */
    /* min-width: 600px; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    background-color: #c0cfb2;
    padding: 5px;
    color: white;
    text-align: center;
}
#nav_bar{
    background-color: #c0cfb2;
    padding: 2px;
    color: white;
    text-align: center;
}
#content{
    padding: 10px;
}
#codeSketch{
    margin: 10px;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
}
#footer{
    background-color: #999999;
    color: white;
    text-align: right;
    padding-right: 5px;
}
h2{
    color: #44624a;
}
#content nav li{
    font-weight: 100;
    line-height: 1.5;
    font-size: 1.5rem;
}
#content nav li a:link{ color: #4abd2d;}
#content nav li a:hover{ color: #44624a;}
#content nav li a:visited{color: #c0cfb2;}
#content nav li a.nav_bar:link{
    color: black;
}
#nav_bar ul
{
    width: auto;
}
#nav_bar li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
#nav_bar li a{
    text-decoration: none;
    color: white;
}
#nav_bar li a:hover{
    color:rgb(54, 30, 30);
}
#selected{
    color: #eb9b34;
}